/* MAIN STYLES */
.gform_wrapper.gravity-theme {
    --field_background: white;
    --field_color: black;
    --field_font_size: 20px;
    --field_font_weight: 400;
    --field_line_height: 1;
    --field_border_radius: 30px;
    --field_padding_x: 24px;
    --field_padding_y: 13px;

    --label_color: black;
    --label_font_size: 20px;
    --label_line_height: 1;
    --label_font_weight: 400;
    --label_active_size: 12px;

    --column-gap: 12px;
    --row-gap: 20px;
}

/* Gravity Forms styling to make the labels display in the placeholder position then float up when the field is selected or has a value. */
.gform_wrapper.gravity-theme :is(.gfield, .ginput_complex>span) {
    position: relative;
}

/* INPUTS */
.gform_wrapper.gravity-theme :is(textarea, select, button, input:not([type="radio"], [type="checkbox"])) {
    background-color: var(--field_background);
    color: var(--field_color);
    border: none;
    border-radius: var(--field_border_radius);
    font-size: var(--field_font_size);
    font-weight: var(--field_font_weight);
    line-height: var(--field_line_height);
    height: auto;
    padding: var(--field_padding_y) var(--field_padding_x);
}

/* Fix select line height */
.gform_wrapper.gravity-theme select.gfield_select {
    line-height: calc(var(--field_line_height) * 1.2);
    height: auto;
}

/* INPUT Active states */
.gform_wrapper.gravity-theme :is(.is-selected, .has-value) :is(textarea, select, button, input:not([type="radio"], [type="checkbox"])),
.gform_wrapper.gravity-theme select {
    padding-top: calc(var(--field_padding_y) * 1.5);
    padding-bottom: calc(var(--field_padding_y) / 2);
}

/* LABELS */
.gform_wrapper.gform_wrapper.gravity-theme label {
    color: var(--label_color);
    font-size: var(--field_font_size);
    font-weight: var(--label_font_weight);
    line-height: var(--label_line_height);
    position: absolute;
    top: var(--field_padding_y);
    left: var(--field_padding_x);
    transition: 0.3s;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

/* Hide labels on complex fields */
.gform_wrapper.gravity-theme legend.gfield_label {
    display: none;
}

/* LABELS Active states */
.gform_wrapper.gravity-theme :is(.is-selected, .has-value) label {
    top: calc(var(--field_padding_y) / 2);
    left: var(--field_padding_x);
    font-size: var(--label_active_size);
}

/* Fix the label position for complex fields. */
.gform_wrapper.gravity-theme .ginput_complex.gform-grid-row,
.gform_wrapper.gravity-theme .ginput_complex .gform-grid-col {
    column-gap: var(--column-gap);
    margin-inline: 0;
    padding-inline: 0;
}

.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full),
.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) {
    padding-right: 0;
}

.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full)~span:not(.ginput_full),
.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full)~span:not(.ginput_full) {
    padding-left: 0;
}
